{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt_BR">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block head_title %}Blog | FEJESP{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Facebook plugin -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.5";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% static 'index.html' %}">FEJESP</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% static 'about.html' %}">About</a>
                    </li>
                    <li>
                        <a href="{% static 'services.html' %}">Services</a>
                    </li>
                    <li>
                        <a href="{% static 'contact.html' %}">Contact</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% static 'portfolio-1-col.html' %}">1 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="{% static 'portfolio-2-col.html' %}">2 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="{% static 'portfolio-3-col.html' %}">3 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="{% static 'portfolio-4-col.html' %}">4 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="{% static 'portfolio-item.html' %}">Single Portfolio Item</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'blog:listar' %}">Processo Seletivo</a>
                    </li>
                    <li class='active'>
                        <a href="{% url 'blog:listar' %}">Blog</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% static 'full-width.html' %}">Full Width Page</a>
                            </li>
                            <li>
                                <a href="{% static 'sidebar.html' %}">Sidebar Page</a>
                            </li>
                            <li>
                                <a href="{% static 'faq.html' %}">FAQ</a>
                            </li>
                            <li>
                                <a href="{% static '404.html' %}">404</a>
                            </li>
                            <li>
                                <a href="{% static 'pricing.html' %}">Pricing Table</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Messages Framework -->
            {% if messages %}

                <div class="messages alert alert-success" role="alert">
                    <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        {% block conteudo %}
        {% endblock %}

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright 2016 &copy; FEJESP - Federação das Empresas Juniores do Estado de São Paulo</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
